*{
    margin: 0;
    padding: 0;
  }

  ul{
    list-style: none;
  }
  #menu li>a{
 
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  

  #menu li>a:hover{
    color: #ffffff;
    background-color: #0d6623;
    
  }
  #menu>li{
    float: left;
    text-align:center;
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }

 #menu{
  margin-right: 12ch;
  margin-bottom: 7ch;
 }