body{
    background-color: #d0d4f6;
    font-family: arial;
}
/* ESTILOS ESLOGAN */
.img_eslogan{
    position: relative;
    float: right;
    top: 60px;
}

/* ESTILOS DATOS DE USUARIO */
.datos_usuario{
    text-align: right;
    font-weight: bold;
    color: #037410;
}

.contenedor_botones{
    text-align: center;
}

/* ESTILOS BOTON DE INICIO */

.form_title{
    margin-top: 0;
    text-align: center;
    background: #66cb75;
    color: #fff;
    padding: 20px;
    font-weight:bold;
    font-size: 30px;
    border-radius: 5px;
    border-bottom: 5px solid #d0d4f6;
}


.divisores{
    width: 100%;
    height: 1000px;
    background-color: #66cb75;

}

/* ESTILOS DEL FORMULARIO */
.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding-top: 0.2em;
    padding-bottom: 4.5em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 / 30%);
    text-align: center;
}

.form_container{
    margin-top: 1.6em;
   
    display: grid;
    gap: 2.5em;
}

.form_group{

    position: relative;

}

.form_input{
    --color:#5757577e;
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label
{
    transform: translateY(-12px) scale(.9);
    transform-origin: left top ;
    color: #037410;
    font-weight: bold;
}

.form_label{

    color: #037410;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
    font-weight: bold;
}

.form_submit{
    background: #66cb75;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_textarea{

    text-transform: capitalize;
    border: 1px solid #5757577e ;


    border-radius: 5px;
}
.form_textarea:hover{

    border: 2px solid #037410;
}
.navigation{
    margin-right: 15ch;
}
